<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel tests" parallel="tests" thread-count="4" verbose="10">
    <parameter name="browser" value="chrome"/>
    <parameter name="version" value="69.0"/>
    <test name="Chrome 69.0">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="69.0"/>
        <classes>
            <class name="SecondTest" />
        </classes>
    </test>
        <test name="firefox 63.0">
           <parameter name="browser" value="firefox"/>
           <parameter name="version" value="63.0"/>
           <classes>
               <class name="JsoupTest" />
           </classes>
               </test>
         <test name="Opera 56.0">
           <parameter name="browser" value="opera"/>
           <parameter name="version" value="56.0"/>
           <classes>
               <class name="JsoupTest" />
           </classes>
       </test>
</suite>