<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Paralel tests" parallel="tests" thread-count="4" verbose="10">
    <test name="Chrome 69.0">
        <classes>

            <class name="SecondTest" />
            <class name ="JsoupTest" />
        </classes>
    </test>
    <test name="Chrome 70.0">
        <classes>
            <class name ="JsoupTest" />

        </classes>
    </test>


</suite>